.Rproj.user
dgRaph.Rproj
.Rhistory
.RData
.cache
src/*.o
src/*.so
src/*.dll
tests/boost/*.o
tests/examples/*
tests/benchmark/*
inst/*
inst/doc
inst/html
inst/slides/assets
inst/slides/libraries
vignettes/assets
.deps
.dirstamp
