useDynLib(dgRaph)

importFrom(Rcpp, loadModule)

export(PGMExpectCpp)
export(betaPotential)
export(dfg)
export(facExpectations)
export(is.dfg)
export(likelihood)
export(mps)
export(multinomialPotential)
export(normalPotential)
export(plot.dfg)
export(potentials)
export(saddlePointTails)
export(tailIS)
export(tailSaddle)
export(train)

