useDynLib(dgRaph)

importFrom(Rcpp, loadModule)
importFrom(numDeriv, grad)

export(betaOptimize)
export(betaPotential)
export(dfg)
export(expect)
export(expect.dfg)
export(facExpectations)
export(fixedlinkOptimize)
export(is.dfg)
export(kl)
export(likelihood)
export(linregOptimize)
export(linregPotential)
export(mps)
export(multinomialPotential)
export(normalPotential)
export(normOptimize)
export(plot.dfg)
export(potentials)
export("potentials<-")
export(simulate)
export(simulate.dfg)
export(tailIS)
export(tailSaddle)
export(train)
