useDynLib(dgRaph)

importFrom(Rcpp, loadModule)
importFrom(numDeriv, grad)

S3method(simulate, dfg)

export("potentials<-")
export(as.matrix.potential)
export(betaPotential)
export(dfg)
export(dim.potential)
export(expect)
export(expect.dfg)
export(expect2)
export(expect2.dfg)
export(facExpectations)
export(is.dfg)
export(is.potential)
export(kl)
export(likelihood)
export(linregPotential)
export(logregPotential)
export(meanlinkPotential)
export(mps)
export(multinomialPotential)
export(normalPotential)
export(plot.dfg)
export(potentials)
export(tailIS)
export(tailNormal)
export(tailSaddle)
export(train)
export(update.betaPotential)
export(update.linregPotential)
export(update.logregPotential)
export(update.meanlinkPotential)
export(update.normalPotential)
